@page
@model TableModel
<button>Knapp</button>
<div class="workout-table" data-name="wTable">
    <table class="table">
        <thead>
        <th scope="col">
            A
        </th>
        <th scope="col">
            B
        </th>
        </thead>
        <tbody>
        <tr scope="row">
            <td>
                1
            </td>
            <td>
                2
            </td>
        </tr>
        <tr scope="row">
            <td>
                3
            </td>
            <td>
                4
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="WorkoutTable.js"></script>
<script>
    ReactDOM.render("<WorkoutTable/>", $('.workout-table'));
    console.log("a");
    console.log($('.workout-table').data('name'));
</script>